@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$purple: hsl(259, 100%, 65%);
$red: hsl(0, 100%, 67%);
$light-grey: hsl(0, 0%, 94%);
$smokey-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);

body {
  font-family: "Poppins", sans-serif;
  background-color: $light-grey;
}

#main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .breakline {
    border-bottom: 1px solid $light-grey;
    position: relative;
    img {
      background-color: $purple;
      padding: 10px;
      border: none;
      border-radius: 50%;
      position: absolute;
      right: 0;
      transform: translateY(-50%);
    }
    margin-top: 2rem;
  }
}

.card {
  background-color: #fff;
  padding: 2rem;
  width: 700px;
  border-radius: 10px;
  border-bottom-right-radius: 130px;
  .date-inputs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    width: 80%;
    label {
      display: block;
      font-size: 14px;
      letter-spacing: 2px;
      margin-bottom: 5px;
    }

    input {
      padding: 15px;
      width: 100%;
      border: 1px solid $smokey-grey;
      border-radius: 5px;
      font-size: 32px;
      font-weight: 800;
    }
  }

  .output {
    margin-top: 2rem;
    p {
      font-size: 50px;
      font-weight: 800;
      font-style: italic;
      span {
        color: $purple;
      }
    }
  }
}
